node_red.json
[
    {
        "id": "84a683f7be0aec32",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8038a814730db888",
        "type": "mqtt in",
        "z": "84a683f7be0aec32",
        "name": "temperature",
        "topic": "cse/monitor/temp",
        "qos": "2",
        "datatype": "json",
        "broker": "c5653541b49af167",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 100,
        "wires": [
            [
                "a87e7cf1b4acbd6d",
                "3f3dfd8a20b0221b",
                "0d09696cdfb21da8",
                "e228048811b8bb4a"
            ]
        ]
    },
    {
        "id": "55a71993fe843358",
        "type": "mqtt in",
        "z": "84a683f7be0aec32",
        "name": "humidity",
        "topic": "cse/monitor/hum",
        "qos": "2",
        "datatype": "json",
        "broker": "c5653541b49af167",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 220,
        "wires": [
            [
                "5f6b5386bcc7c45f",
                "de3dd398200e2b10",
                "2f1e93551b32d247",
                "a87e7cf1b4acbd6d"
            ]
        ]
    },
    {
        "id": "404d0eaa660b92b3",
        "type": "mqtt in",
        "z": "84a683f7be0aec32",
        "name": "current",
        "topic": "cse/monitor/cur",
        "qos": "2",
        "datatype": "json",
        "broker": "c5653541b49af167",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 340,
        "wires": [
            [
                "a3a9ad50287bf258",
                "8278290ee649809f",
                "a87e7cf1b4acbd6d"
            ]
        ]
    },
    {
        "id": "e3ee1f899aad7f4c",
        "type": "mqtt in",
        "z": "84a683f7be0aec32",
        "name": "voltage",
        "topic": "cse/monitor/volt",
        "qos": "2",
        "datatype": "json",
        "broker": "c5653541b49af167",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 460,
        "wires": [
            [
                "4ea3356e90e06ece",
                "d91c0d89ae2dec84",
                "a87e7cf1b4acbd6d"
            ]
        ]
    },
    {
        "id": "4e161e665831f4cd",
        "type": "debug",
        "z": "84a683f7be0aec32",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "5f6b5386bcc7c45f",
        "type": "debug",
        "z": "84a683f7be0aec32",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 180,
        "wires": []
    },
    {
        "id": "5c1a071b330f0b85",
        "type": "debug",
        "z": "84a683f7be0aec32",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "4501650c87d04859",
        "type": "mysql",
        "z": "84a683f7be0aec32",
        "mydb": "830d957dbb9fce52",
        "name": "sensor iot",
        "x": 520,
        "y": 140,
        "wires": [
            [
                "5c1a071b330f0b85"
            ]
        ]
    },
    {
        "id": "a87e7cf1b4acbd6d",
        "type": "function",
        "z": "84a683f7be0aec32",
        "name": "function 1",
        "func": "msg.topic = \"INSERT INTO sensor(Temperature, Humidity, Current, Voltage) VALUES ('\" + msg.payload + \"');\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 140,
        "wires": [
            [
                "4e161e665831f4cd",
                "4501650c87d04859"
            ]
        ]
    },
    {
        "id": "3f3dfd8a20b0221b",
        "type": "ui_gauge",
        "z": "84a683f7be0aec32",
        "name": "",
        "group": "d61f207b00dbd270",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 60,
        "wires": []
    },
    {
        "id": "de3dd398200e2b10",
        "type": "ui_gauge",
        "z": "84a683f7be0aec32",
        "name": "",
        "group": "f9068db2e9b6c8d6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 220,
        "wires": []
    },
    {
        "id": "2f1e93551b32d247",
        "type": "ui_chart",
        "z": "84a683f7be0aec32",
        "name": "",
        "group": "f9068db2e9b6c8d6",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "0d09696cdfb21da8",
        "type": "ui_chart",
        "z": "84a683f7be0aec32",
        "name": "",
        "group": "d61f207b00dbd270",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8278290ee649809f",
        "type": "ui_chart",
        "z": "84a683f7be0aec32",
        "name": "",
        "group": "8b635d70a694ea65",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "d91c0d89ae2dec84",
        "type": "ui_chart",
        "z": "84a683f7be0aec32",
        "name": "",
        "group": "acfc5a28bacf80cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 310,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a3a9ad50287bf258",
        "type": "debug",
        "z": "84a683f7be0aec32",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 300,
        "wires": []
    },
    {
        "id": "4ea3356e90e06ece",
        "type": "debug",
        "z": "84a683f7be0aec32",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 420,
        "wires": []
    },
    {
        "id": "e228048811b8bb4a",
        "type": "debug",
        "z": "84a683f7be0aec32",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 20,
        "wires": []
    },
    {
        "id": "c5653541b49af167",
        "type": "mqtt-broker",
        "name": "",
        "broker": "raspberryPI",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "830d957dbb9fce52",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "projek_uas",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "d61f207b00dbd270",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "581f72375e71acb0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f9068db2e9b6c8d6",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "581f72375e71acb0",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b635d70a694ea65",
        "type": "ui_group",
        "name": "Current",
        "tab": "581f72375e71acb0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "acfc5a28bacf80cf",
        "type": "ui_group",
        "name": "Voltage",
        "tab": "581f72375e71acb0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "581f72375e71acb0",
        "type": "ui_tab",
        "name": "Lantai 2",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]